.class
resources/
war/resources/

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
*.cache.html
/lib
.settings/
war/WEB-INF/appengine-generated/local_db.bin
.settings/com.google.gdt.eclipse.core.prefs
war/WEB-INF/lib
war/WEB-INF/classes

