.class
resources/
war/resources/

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
*.cache.html
war/WEB-INF/deploy/
war/WEB-INF/classes/
/lib
war/WEB-INF/lib
.settings/com.google.appengine.eclipse.core.prefs
3pq5djy5.oxs.txt
war/WEB-INF/appengine-generated/
