<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>developers</servlet-name>
		<servlet-class>org.smg.server.servlet.developer.DeveloperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>developers</servlet-name>
		<url-pattern>/developers/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>games</servlet-name>
		<servlet-class>org.smg.server.servlet.game.GameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>games</servlet-name>
		<url-pattern>/games/*</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>newMatch</servlet-name>
    <servlet-class>org.smg.server.servlet.container.NewMatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newMatch</servlet-name>
    <url-pattern>/newMatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>matches</servlet-name>
    <servlet-class>org.smg.server.servlet.container.MatchOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matches</servlet-name>
    <url-pattern>/matches/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>players</servlet-name>
    <servlet-class>org.smg.server.servlet.player.PlayersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>players</servlet-name>
    <url-pattern>/players/*</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
