<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>developers</servlet-name>
		<servlet-class>org.smg.server.servlet.developer.DeveloperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>developers</servlet-name>
		<url-pattern>/developers/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>games</servlet-name>
		<servlet-class>org.smg.server.servlet.game.GameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>games</servlet-name>
		<url-pattern>/games/*</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>newMatch</servlet-name>
    <servlet-class>org.smg.server.servlet.container.NewMatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newMatch</servlet-name>
    <url-pattern>/newMatch/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>matches</servlet-name>
    <servlet-class>org.smg.server.servlet.container.MatchOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matches</servlet-name>
    <url-pattern>/matches/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>players</servlet-name>
    <servlet-class>org.smg.server.servlet.player.PlayersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>players</servlet-name>
    <url-pattern>/players/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>playerInfo</servlet-name>
    <servlet-class>org.smg.server.servlet.player.PlayerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>playerInfo</servlet-name>
    <url-pattern>/playerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>playerGame</servlet-name>
    <servlet-class>org.smg.server.servlet.player.PlayerGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>playerGame</servlet-name>
    <url-pattern>/playerGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>playerHistory</servlet-name>
    <servlet-class>org.smg.server.servlet.player.PlayerHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>playerHistory</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>developInsertHistory</servlet-name>
    <servlet-class>org.smg.server.servlet.player.DevelopPlayerInsertHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>developInsertHistory</servlet-name>
    <url-pattern>/developHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gameinfo</servlet-name>
    <servlet-class>org.smg.server.servlet.game.GameInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gameinfo</servlet-name>
    <url-pattern>/gameinfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>developerinfo</servlet-name>
    <servlet-class>org.smg.server.servlet.developer.DeveloperInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>developerinfo</servlet-name>
    <url-pattern>/developerinfo/*</url-pattern>
  </servlet-mapping>  
  <servlet>
	<servlet-name>user</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>user</servlet-name>
	<url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>userinfo</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>userinfo</servlet-name>
	<url-pattern>/userinfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>userinforetrieve</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserInfoRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>userinforetrieve</servlet-name>
	<url-pattern>/userinforetrieve/*</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>queue</servlet-name>
    <servlet-class>org.smg.server.servlet.container.QueueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queue</servlet-name>
    <url-pattern>/queue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>channel</servlet-name>
    <servlet-class>org.smg.server.servlet.container.ChannelConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>channel</servlet-name>
    <url-pattern>/_ah/channel/*</url-pattern>    
  </servlet-mapping>  
  <servlet>
	<servlet-name>userSocialAuth</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserServletSocialAuth</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>userSocialAuth</servlet-name>
	<url-pattern>/userSocialAuth/*</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>userSocialAuthCallbackGoogle</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserServletSocialAuthCallbackGoogle</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>userSocialAuthCallbackGoogle</servlet-name>
	<url-pattern>/socialAuthCallbackGoogle/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>userSocialAuthCallbackFacebook</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserServletSocialAuthCallbackFacebook</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>userSocialAuthCallbackFacebook</servlet-name>
	<url-pattern>/socialAuthCallbackFacebook/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>state</servlet-name>
    <servlet-class>org.smg.server.servlet.container.StateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>state</servlet-name>
    <url-pattern>/state/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageupload</servlet-name>
    <servlet-class>org.smg.server.servlet.image.ImageForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageupload</servlet-name>
    <url-pattern>/imageupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blobupload</servlet-name>
    <servlet-class>org.smg.server.servlet.image.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blobupload</servlet-name>
    <url-pattern>/blobupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imagedownload</servlet-name>
    <servlet-class>org.smg.server.servlet.image.ImageDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imagedownload</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>userLogOut</servlet-name>
	<servlet-class>org.smg.server.servlet.user.UserLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>userLogOut</servlet-name>
	<url-pattern>/userLogOut/*</url-pattern>
  </servlet-mapping>    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
